* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}


header {
	text-align: center;
	margin: 24px 0 37px 0;
}

h1 {
	font-size: 72px;
}

#contentOne {
	width: 568px;
	margin-left: 55px;
}

#staryNight {
	width: 568px;
	height: 446px;
	margin: 37px 0 12px 0px;
	display: block;
}

#nightHeader {
	margin: 12px 0 16px 0px;
	font-size: 40px;
	text-align: center;
}

#nightSky {
	font-size: 20px;
	text-align: center;
}

#listBox {
	display: block;
	margin: 16px 0px 32px 15px;
	line-height: 24px;
	color: #155EEF;
}

#readMore {
	margin: 32px 0px 74px 0px;
	border: 2px solid #CEA201;
	text-align: center;
	width: 173px;
	padding: 12px 32px;
	font-size: 24px;
}

#clickLink {
	color: #CEA201;
	text-decoration: none;
}

#contentTwo {
	margin-left: 55px;
	width: 770px;
}

#MagicHeader {
	font-size: 40px;
	text-align: center;

}

#didText {
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	margin: 16px 0px 24px 0px;
}

#hereHeader {
	color: #00C76E;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
}

#workList {
	color: #FF5DA3;
	line-height: 24px;
	margin: 16px 0px 24px 186px;
	display: block;
}

#imageWing {
	width: 200px;
	height: 200px;
	margin-left: 6px;
	margin-bottom: -5px;
	display: block;
}

#borderBox {
	width: 722px;
	border: 6px solid #c11574;
	background-color: #FFDEF0;
	padding: 16px;
	margin: 24px 0px 24px 0px;
}

#whereHeader {
	font-size: 24px;
	line-height: 24px;
	padding-bottom: 16px;
	color: #414651;
}

#listItems {
	color: #c27515;
	line-height: 24px;
	margin-left: 16px;
}

#seaHorse {
	width: 300px;
	height: 400px;
	margin: 24px 0 24px 6px;
	display: block;
}

#seeLink {
	color: #00D4BC;
	font-size: 24px;
	line-height: 32px;
	text-decoration: none;
	border-bottom: 2px solid #00D4BC;
	margin: 24px 0px 119px 561px;
	display: block;
}